<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uptempo</title>
</head>
<body>
    <h1>Uptempo</h1>
    <h3>Find projects in your area!</h3>

    <form action="post">
        <input type="email" name="email" id="email" placeholder="Email address" autocomplete="off">
        <input type="password" name="password" id="password" placeholder="Password" autocomplete="off">
        <button type="submit" name="submit" id="submit">Log in</button>
    </form>
</body>
</html>