<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Uptempo</title>
	</head>
	<body>
		<h1>Uptempo</h1>
		<h3>Find projects in your area!</h3>
		<form action="/signup" method="POST">
			<input type="text" name="userName" placeholder="User Name" />
			<input type="email" name="email" placeholder="Email" />
			<input type="password" name="password" placeholder="Password" />
			<input
				type="password"
				name="confirmPassword"
				placeholder="Confirm Password"
			/>
			<select name="userType" id="usertype">
				<option value="DJ">DJ</option>
				<option value="Producer">Producer</option>
				<option value="Musician">Musician</option>
			</select>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>
